{
    "settings": {
      "import/resolver": {
        "alias": {
          "map": [
            ["@components", "./src/components"],
            ["@common", "./src/components/Common"]
          ],
          "extensions": [".js", ".jsx", ".ts", ".tsx"]
        }
      }
    }
  }