.searchBlock{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 15px;
    width: 100%;
    height: 300px;
    border-bottom: 1px solid black;

    &__text {
        color: #717171;
        text-align: center;

        & a {
            color: #F14141;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}