.commonEmptyBlock{
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 20px;

    &__text{
        font-size: 35px;
        font-weight: 800;
        width: 100%;
        text-align: center;
    }

    &__image{
        max-width: 500px;
        max-height: 500px;
    }
}

@media only screen and (max-width: 550px) {
    .commonEmptyBlock{ 
        &__text{
            font-size: 30px;
        }

        &__image{
            max-width: 400px;
            max-height: 400px;
        }
    }
}

@media only screen and (max-width: 550px) {
    .commonEmptyBlock{ 
        &__text{
            font-size: 25px;
        }

        &__image{
            max-width: 300px;
            max-height: 300px;
        }
    }
}