$color-red-1: #F14141;
$color-red-2: #c12525;
$color-gray-1: #717171;
$color-gray-2: #71717162;

$color-genres-bg: #FFB83527;
$color-from-bg: #18940F24;
$color-to-bg: #C125252B;

$color-item-bg: #1b1b1b6e;
$color-item-border: #dddddd7a;
$color-detail-block-border: #eeeeee7c;
$color-detail-key: #ffffffb0;
$color-tooltip-bg: #333;
$color-tooltip-text: #fff;