.commonLoader {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px; 
    margin-left: -50px; 
    border-radius: 100%;
    animation: loader 0.8s linear infinite;
    filter: brightness(0) saturate(100%) invert(37%) sepia(86%) saturate(1675%) hue-rotate(193deg) brightness(102%) contrast(102%);
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}