.card {
    background-color: #242323;
    border-radius: 12px;
    color: #fff;

    &__img {
        width: 100%;
        height: 290px;
        object-fit: cover;
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 328px;
        height: 200px;
        margin: 32px auto 24px;
        

        &_title {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            overflow: hidden;
            text-overflow: ellipsis;
            height: 40px;
            font-size: 32px;
            line-height: 40px;
            font-weight: 600;
        }

        span {
            font-size: 14px;
            line-height: 18px;
            font-weight: 700;
        }

        &_description {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
            text-overflow: ellipsis;
            height: 52px;
            font-size: 18px;
            line-height: 26px;
            font-weight: 500;

        }
    }

    &:hover {
        cursor: pointer;
    }
}