.popupWithOverlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  
    padding: 36px;
    box-sizing: border-box;
  
    z-index: 9999;
  
    display: flex;
    justify-content: center;
    align-items: center;

    &__overlay{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--modal-blur-wrapper);
        backdrop-filter: blur(3px);
    
        cursor: pointer;
    }

    &__content{
        z-index: 1000;
    }
}