.movieDetails {

  &__detail {
    font-size: 19.2px;
    color: #ffffff;
    margin-bottom: 16px;
    text-align: left;

    strong {
      font-size: 22.4px;
      font-weight: bold;
      vertical-align: baseline;
    }
  }
}