.slider {
    position: relative;
    width: 1000px;
    height: 400px;
    margin: 30px auto 0px;

    :global(.swiper-button-prev),
    :global(.swiper-button-next) {
        color: rgb(255, 0, 0);
        &:hover {
            background: rgba(0, 0, 0, 0.8);
        }
    }

    :global(.swiper-pagination-bullet) {
        background-color: rgb(157, 118, 118);
        opacity: 0.5;        
      }
      
    :global(.swiper-pagination-bullet-active) {
        background-color: red;
        opacity: 1;
      }

}