@import url('./styles/reset.css');

*{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

img {
  max-width: 100%;
  object-fit: cover;
}

body{
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: black;
  color: white;
}

input, button {
  color: white;
  font-weight: 400;
  font-size: 16px;
}

:root {
  --autofill-text-color: white;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #000000 inset !important;
  border: none;
  color: var(--autofill-text-color) !important;
  -webkit-text-fill-color: var(--autofill-text-color) !important;
}

a {
  color: white;
  text-decoration: none;
}

button:focus, div {
  outline: none;
}

button:active, div {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

button, div {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}


