@import url('./styles/reset.css');

*{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

img {
  max-width: 100%;
  object-fit: cover;
}

body{
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: rgb(245, 245, 247);
  color: rgb(33, 30, 49);
}

input, button {
  color: rgb(33, 30, 49);
  font-weight: 400;
  font-size: 16px;
}

a {
  color: rgb(33, 30, 49);
  text-decoration: none;
}

button:focus, div {
  outline: none;
}
button:active, div {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}
button, div {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}


